/*Добавил шрифт поинтереснее, если не нравится - можешь выкинуть. Не забудь закачать его себе на комп, он в папке fonts*/
@font-face {
    font-family: RalewayMedium; /* Гарнитура шрифта */
    src: url(/static/fonts/Raleway-Medium.ttf); /* Путь к файлу со шрифтом */
}

/*ЗДЕСЬ настройки текста, размер обязательно в vw, чтобы было адаптивно. Потом подгони под идеальный для вас размер*/
p, h1, button{
    font-size: 1.3vw;
    font-family: RalewayMedium;
    color: white;
}
h1{
    font-size: 1.7vw;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
}

/*ЭТО наше затемнение, здесь ничего не трогай, только если нужно будет потемнее сделать фон, измени .5 на побольше или наоборот меньше*/
.phone{
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 500%;
}

/*Белое пространство*/
.white{
    padding-bottom: 2.95%;
}

/*Менюшка*/
nav{
    background-color: rgba(0, 0, 0, .5);
}

/*Размер стрелочек на карусели*/
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 50px;
    width: 50px;
}

/*ЗДЕСЬ уже непосредственно настройки самих блоков, если что, можно будет для каждого блока отдельно свои настройки шрифта сделать*/
.first{
    background: url("/static/img/testPhoto.jpeg") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.second{
    background: url("/static/img/test2.jpg") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}



