<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deutsch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>
<body>
<!-- Белое пространство -->

<div class="white">
</div>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Deutsch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Country
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Great Britain</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Deutschland</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Language
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">British</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">German</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Russian</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<!-- Один блок со слайдером -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="first">
                <div class="container-fluid phone">
                    <div class="row">
                        <div class="col-xl"></div>
                        <div class="col-xl-9">
                            <h1 class="text-center">Borley Rectory (Essex, England)</h1>
                            <p>Umgeben von tiefen Wäldern befinden sich einige Kilometer südlich von Berlin die
                                sagenumwobenen
                                Beelitz-Heilstätten, ein zwischen 1898 und 1930 errichtetes Sanatorium für unheilbar
                                kranke
                                Lungenpatienten, das während der Weltkriege zudem als Lazarett genutzt wurde. Das
                                riesige Areal von
                                ca. 200 Hektar umfasst ca. 60 denkmalgeschützte Gebäude und gehört heute zu den meist
                                frequentierten
                                Spukorten in Deutschland. Zahlreiche Berichte über paranormale Aktivität konzentrieren
                                sich zudem
                                auf die rund 11 Kilometer langen, verlassenen Tunnelsysteme, welcher die Gebäude
                                untereinander
                                verbinden und dabei ein unergründliches, düsteres Labyrinth bilden.
                                Als die Beelitzer Heilstätten im Jahr 1902 offiziell eröffnet wurden, wollte man in
                                erster Linie die
                                damals wütende Tuberkulose in den Griff bekommen. Um eine weitere Verbreitung der
                                Krankheit zu
                                verhindern, wurden Tuberkulose-Patienten in den Bereichen nördlich der Bahngleise
                                untergebracht, in
                                den südlich gelegenen Bereichen wurden ausschließlich nicht ansteckende Krankheiten
                                behandelt.
                                Während der beiden Weltkriege wurden die Heilstätten zum Lazarett für verwundete
                                Soldaten
                                umfunktioniert. Rund 17.500 Verwundete wurden allein zwischen 1914 und 1918 in Beelitz
                                versorgt,
                                darunter auch der damalige Gefreite Adolf Hitler, der vom 9. Oktober bis zum 4. Dezember
                                1916 in den
                                Beelitzer Heilstätten behandelt wurde.
                                Nach Ende des zweiten Weltkriegs wurden die zum Teil schwer beschädigten Gebäude von der
                                Roten Armee
                                noch bis 1994 als größtes Militärhospital außerhalb der Sowjetunion genutzt. Obwohl
                                kleine Bereiche
                                der Beelitz-Heilstätten inzischen saniert wurden und ein Teil des Areals mit Wohnhäusern
                                bebaut
                                wurde, sind die meisten der denkmalgeschützten Gebäude vom Verfall gezeichnet.
                                Bis heute gibt es unzählige Berichte über paranormale Aktivität auf dem Gelände der
                                Beelitzer
                                Heilstätten. Einer der Wachmänner des Areals berichtete mehrmals von seltsamen,
                                nächtlichen
                                Geräusche, Schreien und Stimmen, die ihm teuflische Angst einjagen.
                                Auch Besucher, die sich tagsüber in den Heilstätten befanden, nahmen plötzliche
                                Temperaturabfälle,
                                flehende Schreie, Stimmengeflüster und Schritte in leeren Gängen wahr, zudem sollen sich
                                Türen wie
                                von Geisterhand öffnen, ohne dass ein Luftzug zu vernehmen ist.
                                Es scheint, als würde sich ein Großteil des Spuks auf die alte Chirurgie konzentrieren,
                                viele
                                vermuten, dass die Schreie, die immer wieder aus diesem Raum zu vernehmen sind, von den
                                todgeweihten
                                Patienten stammen.
                                Immer wieder gibt es auch Zeugen von Geistererscheinungen und auch von der Anwesenheit
                                so genannter
                                Shadow People wird oft berichtet.
                            </p>
                        </div>
                        <div class="col-xl"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="second">
                <div class="container-fluid phone">
                    <div class="row">
                        <div class="col-xl"></div>
                        <div class="col-xl-9">
                            <h1 class="text-center">Дом священника в Борли (Эссекс, Англия)</h1>
                            <p>Дом приходского священника в Борли считается наиболее населенным привидениями домом во
                                всей
                                Великобритании. Он был построен преподобным Генри Д. е. Буллом в 1863 году у реки Стоур,
                                Эссекс.
                                Однако в 1939 году при таинственных обстоятельствах дом священника сгорел.
                                Считается, что этому дому суждено было стать домом с привидениями с самого начала из-за
                                событий,
                                которые происходили там за много веков. Основан он был на земле Приората, на которой
                                стояла Церковь
                                12-го века, дом смотрителя и другие здания.
                                Самая популярная история в Борли о том, что там, в 1362 году был построен монастырь
                                Бенедиктинскими
                                монахами, в котором позже жил священник. Легенда рассказывала также о том, что в этого
                                священника
                                влюбилась монахиня из монастыря Бурес, что в 7 милях к юго-востоку от Борли. Они решили
                                сбежать,
                                чтобы быть вместе, но их планы были раскрыты старейшинами. Друг монаха должен был помочь
                                им сбежать,
                                но в роковую ночь они были захвачены. Извозчик был обезглавлен, священника повесили, а
                                монахиню
                                замуровали живьем в стенах сводов монастыря. С тех пор их призраки преследуют это место.
                                Преподобный Генри Д. е. Булл стал ректором Борли в 1862 году и на месте монастыря
                                построил большое
                                кирпичное здание. Позже в 1875 поступило первое сообщение о паранормальных явлениях в
                                Борли. П. шо
                                Джеффри, посещавшим это место в 1885, был свидетелем бросания камней и видел призрак
                                священника.
                                Необъяснимые события происходили на протяжении всех первых лет существования ректората.
                                Бывший
                                директор Королевской гимназии Колчестера несколько раз в течение 1885 года сообщал о
                                посещении
                                призрачной монахини. Ряд пасторов и их семей, которые жили в приходе, упоминали о
                                наблюдениях
                                призрака. Сообщалось, что во время ужина гости видели бледное лицо монахини в окошке,
                                заглядывающей
                                внутрь. Также есть сообщения о Монахе и Монахине, блуждающих по территории. Несколько
                                человек
                                сказали, что они видели "леди в сером плаще" и " джентльмена с какой-то лысой головой,
                                одетого в
                                длинное черное платье".
                                Каждый человек, который проживал в доме священника с момента его постройки в 1863 году
                                или
                                посещавший его, характеризовали все случаи с призраками только как паранормальные.
                                Появилась
                                таинственная шуба, но не было видно следов монахини. Некоторые свидетели чувствовали
                                внезапный холод
                                за пределами комнат дома, и некоторые части дома были последовательно холоднее, чем
                                другие.
                            </p>
                        </div>
                        <div class="col-xl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- JavaScript  -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/static/js/main.js"></script>
</body>
</html>